---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import Base from './Base.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate: _ } = Astro.props;
---

<Base title={title} description={description}>
  <article class="mt-10">
    <h1 class="text-4xl font-bold">{title}</h1>
    <div class="py-4">
      <div class="mb-2 flex items-center">
        <FormattedDate date={pubDate} />
        <!-- {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          } -->
      </div>
      <div class="text-gray-400">
        <slot />
      </div>
    </div>
  </article>
</Base>
